
.libros{
    width: 95%;
    height: 100vh;
}
.pdf{
    width: 85%;
    height: 100vh;
}

.cinquenta{
    width: 50%;
    height: 50%;
}
.carousel-inner img {
    height: 400px;
    
  }


.fallera{
    width: auto;
    height: 300px;
}
.colaboradores{
    float: right;
    border-left: thin solid rgb(204, 204, 204);
}