
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
//importamos la fuente del tipo de letra
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

//añadimos a la paleta de colores
$custom-colors: (
  "rojo": #c92435,
  "rosa": #fbe2dd,
  "azul": #437691,
  "blanco": #fbf7f4,
  "negro": #42474d,
  "alpino": #acc5dc,
  "oro": #faead3,
  "plata": #f2f3ee,
  "grafito": #5d5c58,
  "azulclaro":#e3f2fd,
  "azulclarosecundario":#F4E0D1,
  "azulclarosombra":#B7C8D6,
  "mayo":#18AA41,
  "junio":#0c48c9,
  "julio":#A71FB0,
  "agosto":#F5523C,
  "septiembre":#4619af,
  "octubre":#F9E63F,
  "noviembre":#DF2800,
  "diciembre":#FC9122,
  "enero":#3a630d,
  "febrero":#5F350A,
  "marzo":#766D17,
  "abril":#0E98E3

  );
$theme-colors: map-merge($theme-colors, $custom-colors);


//cambiamos la variable del tipo de letra
$font-family-sans-serif: 'Playfair Display', serif;


@import "bootstrap/scss/bootstrap.scss";
